<ion-item>
  <ion-label><h2>{{room.name}}</h2>{{room.descripcion}}</ion-label>
  <ion-button [hidden]="!editable"  outline icon-only (click)="presentModalEditRoom()">
    <ion-icon name="create"></ion-icon>
  </ion-button>
  <ion-button *ngIf="room.type === 'trabajo'" outline icon-only (click)="viewRoom()">
    <ion-icon name="grid"></ion-icon>
  </ion-button>
  <ion-button *ngIf="room.type === 'reunion'" outline icon-only (click)="presentModalReserveRoom()">
    <ion-icon name="bookmark"></ion-icon>
  </ion-button>
</ion-item>