ion-range.red{
    --pin-background: red;
    --bar-background-active: red;
    --knob-background: red;
}

ion-list {
    height: 150px;
    overflow: hidden;
    overflow-y: auto;

}

::-webkit-scrollbar{
    display: none;
}