<ion-card>
  <ion-card-header>
    <ion-card-title>{{reservable.toString()}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-label>Elige un plazo para reservar: </ion-label>
    </ion-item>

    <ion-item>
      <ion-item>
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY"
            [(ngModel)]="fecha.selectorFecha" [min]="fecha.getMinDate()" [max]="fecha.getMaxDate()" (ionChange)="ionChangeDate($event)"></ion-datetime>
      </ion-item>
      <ion-range dualKnobs="true" min="8" max="20" step="1" snaps="true" pin="true" 
      [(ngModel)]="horas" (ionChange)="checkRed($event)" [ngClass]="{'red': red}">
        <ion-label slot="start">Desde</ion-label>
        <ion-icon name="clock" slot="start"></ion-icon>

        <ion-icon name="clock" slot="end"></ion-icon>
        <ion-label slot="end">Hasta</ion-label>

      </ion-range>
    </ion-item>

    <ion-card *ngIf="reservable.getReservasParaHoy(fecha.fecha).length !== 0">
      <ion-card-header>
        <ion-card-title>Reservas</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label>Las siguientes horas no están disponibles: </ion-label>
        </ion-item>

        <ion-list>
          <ion-item  *ngFor="let reserva of reservable.getReservasParaHoy(fecha.fecha)">
            <ion-label class="reserva" color="danger">{{reserva.toString()}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

  </ion-card-content>
</ion-card>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="dismiss()">
    <ion-icon name="arrow-round-back"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="success" (click)="checkValues()">
    <ion-icon name="checkmark"></ion-icon>
  </ion-fab-button>
</ion-fab>