<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-item>
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY"
            [(ngModel)]="fecha.selectorFecha" [min]="fecha.getMinDate()" [max]="fecha.getMaxDate()" (ionChange)="ionChangeDate($event)"></ion-datetime>
      </ion-item>
    
      <ion-range dualKnobs="true" min="8" max="20" step="1" snaps="true" pin="true" 
      [(ngModel)]="horas" (ionChange)="ionChange($event)">
        <ion-label slot="start">Desde</ion-label>
        <ion-icon name="clock" slot="start"></ion-icon>

        <ion-icon name="clock" slot="end"></ion-icon>
        <ion-label slot="end">Hasta</ion-label>
      </ion-range>
    </ion-item>

    <ion-grid>
        <ion-row nowrap *ngFor="let row of rs.selectedRoom.desks">
          <ion-col *ngFor="let desk of row">
            <desk-component [desk]=desk></desk-component>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card-content>
</ion-card>