<ion-card>
  <ion-card-header>
    <ion-card-title>{{room.name}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-label>Nombre: </ion-label>
      <ion-input id="input_nombre" type="text" required="true" [(ngModel)]="newName" placeholder="{{room.name}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Descripción: </ion-label>
      <ion-input id="input_descripcion" type="text" required="true" [(ngModel)]="newDescription" placeholder="{{room.descripcion}}"></ion-input>
    </ion-item>

    <ion-item *ngIf="room.type=='trabajo'">
      <ion-label>Filas: </ion-label>
      <ion-input id="input_filas" type="number" required="true" [(ngModel)]="newFilas" placeholder="{{room.rows}}"></ion-input>
    </ion-item>

    <ion-item *ngIf="room.type=='trabajo'">
      <ion-label>Columnas: </ion-label>
      <ion-input id="input_columnas" type="number" required="true" [(ngModel)]="newColumnas" placeholder="{{room.cols}}"></ion-input>
    </ion-item>

    <ion-item *ngIf="room.type=='reunion'">
      <ion-label>Capacidad: </ion-label>
      <ion-input id="input_capacidad" type="number" required="true" [(ngModel)]="newCapacidad" placeholder="{{room.capacidad}}"></ion-input>
    </ion-item>

  </ion-card-content>
</ion-card>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="dismiss()">
    <ion-icon name="arrow-round-back"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button color="danger" (click)="onClickDeleteRoom()">
    <ion-icon name="trash"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab *ngIf="room.type=='trabajo'" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="success" (click)="onClickModifyWorkingRoom()">
    <ion-icon name="checkmark"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab *ngIf="room.type=='reunion'" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="success" (click)="onClickModifyMeetingRoom()">
    <ion-icon name="checkmark"></ion-icon>
  </ion-fab-button>
</ion-fab>