<ion-card>
  <ion-card-header>
    <ion-card-title>Añadir sala</ion-card-title>
  </ion-card-header>

  <ion-card-content id="modal_create_room">
    <ion-item>
      <ion-label>Nombre: </ion-label>
      <ion-input id="input_nombre" type="text" required="true" [(ngModel)]="nombreSala"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Descripción: </ion-label>
      <ion-input id="input_descripcion" type="text" required="true" [(ngModel)]="descripcionSala"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Ubicación: </ion-label>
      <ion-select placeholder="Select One" required="true" [(ngModel)]="ubicacionSala" (ionChange)="rs.selectUbicacion($event.target.value)">
        <ion-select-option *ngFor="let ubicacion of rs.ubicaciones" value={{ubicacion.id}}>{{ubicacion.id}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="rs.selectedUbicacion !== null && rs.selectedUbicacion !== undefined">
      <ion-label>Planta: </ion-label>
      <ion-select placeholder="Select One" required="true" [(ngModel)]="plantaSala">
        <ion-select-option *ngFor="let planta of rs.getPlantas()" value={{planta}}>{{planta}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Tipo: </ion-label>
      <ion-select placeholder="Select One" required="true" [(ngModel)]="tipoSala" value='trabajo'>
        <ion-select-option value="reunion">Reuniones</ion-select-option>
        <ion-select-option value="trabajo">Trabajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-card *ngIf="tipoSala=='trabajo'">
      <ion-card-header>Dimensiones</ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Filas: </ion-label>
          <ion-input id="input_filas" type="number" required="true" [(ngModel)]="filas"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Columnas: </ion-label>
          <ion-input id="input_columnas" type="number" required="true" [(ngModel)]="columnas"></ion-input>
        </ion-item>
      </ion-card-content>


    </ion-card>

    <ion-card *ngIf="tipoSala=='reunion'">
      <ion-card-header>Dimensiones</ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Capacidad: </ion-label>
          <ion-input id="input_capacidad" type="number" required="true" [(ngModel)]="capacidad"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>


  </ion-card-content>
</ion-card>

<ion-fab *ngIf="tipoSala=='trabajo'" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="success" (click)="onClickCreateWorkingRoom()">
    <ion-icon name="checkmark"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab *ngIf="tipoSala=='reunion'" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="success" (click)="onClickCreateMeetingRoom()">
    <ion-icon name="checkmark"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="dismiss()">
    <ion-icon name="arrow-round-back"></ion-icon>
  </ion-fab-button>
</ion-fab>