<ion-header>
  <ion-toolbar>
    <ion-title>User-dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Salas</ion-card-title>
      <ion-card-subtitle>Reserva sitios o salas</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Ubicación: </ion-label>
        <ion-select placeholder="Select One" required="true" (ionChange)="rs.selectUbicacion($event.target.value)">
          <ion-select-option *ngFor="let ubicacion of rs.ubicaciones" value={{ubicacion.id}}>{{ubicacion.id}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="rs.selectedUbicacion !== null && rs.selectedUbicacion !== undefined">
        <ion-label>Planta: </ion-label>
        <ion-select placeholder="Select One" required="true" (ionChange)="rs.selectPlanta($event.target.value)">
          <ion-select-option *ngFor="let planta of rs.getPlantas()" value={{planta}}>{{planta}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
    
    <ion-card-content *ngIf="rs.selectedPlanta !== null && rs.selectedPlanta !== undefined">
      <ion-label>Habitaciones: </ion-label>
      <room-in-menu *ngFor="let room of rs.getRoomsForPlanta(rs.selectedPlanta)" [room]="room" [editable]="false"></room-in-menu>
    </ion-card-content>
    
  </ion-card>
</ion-content>