<ion-header>
  <ion-toolbar>
    <ion-title>
      Admin-Dashoard
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Salas</ion-card-title>
      <ion-card-subtitle>Gestiona las salas de tu oficina</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Ubicación: </ion-label>
        <ion-select placeholder="Select One" required="true" (ionChange)="rs.selectUbicacion($event.target.value)">
          <ion-select-option *ngFor="let ubicacion of rs.ubicaciones" value={{ubicacion.id}}>{{ubicacion.id}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="rs.selectedUbicacion !== null && rs.selectedUbicacion !== undefined">
        <ion-label>Planta: </ion-label>
        <ion-select placeholder="Select One" required="true" (ionChange)="rs.selectPlanta($event.target.value)"
          [(ngModel)]="planta">
          <ion-select-option *ngFor="let planta of rs.getPlantas()" value={{planta}}>{{planta}}</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-card-content>

    <ion-card *ngIf="rs.selectedPlanta !== null && rs.selectedPlanta !== undefined">
      <ion-card-header>Habitaciones: </ion-card-header>
      <ion-card-content>
        <ion-label></ion-label>
        <ion-list>
          <room-in-menu *ngFor="let room of rs.getRoomsForPlanta(rs.selectedPlanta)" [room]="room" [editable]="true">
          </room-in-menu>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModalCreateRoom()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>