<ion-card>
  <ion-card-header>
    <ion-card-title text-center margin-top>Login</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-label stacked>Usuario</ion-label>
      <ion-input id="username" type="text" required="true" [(ngModel)]="user.username"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>Contraseña</ion-label>
      <ion-input id="password" type="password" required="true" [(ngModel)]="user.password"></ion-input>
    </ion-item>    
  </ion-card-content>
</ion-card>


<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="signIn()">
    <ion-icon name="log-in"></ion-icon>
  </ion-fab-button>
</ion-fab>
