ion-button{
    --background:green;
    --background-activated: green;
    --background-focused: green;
    --background-hover: green;

    min-width: 90px;
    max-width: 90px;


}


.partiallyAvailable {
    --background:orange;
    --background-activated: orange;
    --background-focused: orange;
    --background-hover: orange;
}

.noAvailable{
    --background:red;
    --background-activated: red;
    --background-focused: red;
    --background-hover: red;
    
}
