<ion-button id="desk{{desk.row}}.{{desk.col}}" size="small" 
[ngClass]="{'partiallyAvailable': desk.current, 'noAvailable': desk.full}" 
(click)="reservarSitio()">
    <ion-icon name="desktop"></ion-icon>
    <ion-label>{{desk.row}}.{{desk.col}}</ion-label>
</ion-button>
